body {

    font-family: Overpass;

  }

 

  h1, h2, h3 {

    color: #a25284;

    font-family: Chivo;

  }

  p {

    color: #87527e;

    opacity: .7;

  }

  .container {

    width: 800px;

    margin: auto;

  }

 

  .banner {

    background-image: linear-gradient(rgb(102 89 98 / 60%), rgba(0,0,0,0.6)), url('images/B.jpg');

    background-size: cover;


    background-position: center;

    padding: 150px 0;

    text-align: center;

  }

 

  .banner h1 {

    color: #f4eeee;

    font-size: 65px;

    margin: 0;

  }

 

  .banner p {

    color: rgb(249 253 251 / 95%);

    font-size: 34px;

  }

 

  body {

    margin: 0;

  }

 

  .btn {background-color: #110e11;color: #e7eee9;padding: 16px 48px;border-radius: 4px;display: inline-block;text-decoration: none;transition: .3s;}

 

  .btn:hover {

    background-color: #e2eae4;

    color: white;

  }

 

  

  .card {

    background: rgb(77 72 76);

    box-shadow: 0 0 16px rgba(0,0,0,0.1);

    border-radius: 4px;

    /*width: 200px;*/

    text-align: center;

    padding: 24px;

    flex-grow: 1;

  }

 

  .card img {

    width: 180px;

    height: 180px;

    object-fit: cover;

    border-radius: 4px;

  }

  .card h3 {

    margin-bottom: 0;

  }

  .footer {

    background: #80637b;

    text-align: center;

    padding: 24px 0;

  }

 

  .footer p {

    color: white;

  }

 

  .cards {

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 16px;

    margin-bottom: 24px;

  }

 

  

  @media (max-width: 800px) {

    .cards {

      grid-template-columns: 1fr;

    }

  }

 

  

  

  @media (min-width: 500px) {

    .container {

      width: 400px;

    }

  }

 

  

  @media (min-width: 800px) {

    .container {

      width: 600px;

    }

  }

 

  @media (min-width: 1000px) {

    .container {

      width: 800px;

    }

  }